* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 420px;
  background: #fff;
  border-radius: 30px;
  text-align: center;
  padding-bottom: 30px;

  position: relative;
  overflow: visible;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.cover {
  height: 180px;
  position: relative;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  background: #ddd;
  background-image: url("https://images.unsplash.com/photo-1528459105426-b9548367069b?q=80&w=964&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plus {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50%;
  background: #fff;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.profile-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid white;

  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  margin-top: 80px;
  font-size: 42px;
  font-weight: 700;
}

p {
  color: gray;
  font-size: 18px;
  margin: 10px 20px;
  line-height: 1.4;
}

.stats {
  width: 85%;
  margin: 30px auto;
  border: 1px solid #ddd;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  padding: 25px;
  background: #fff;
}

.stats h2 {
  font-size: 20px;
  margin-bottom: 6px;
}

.stats span {
  color: gray;
  font-size: 14px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 60px;
  font-size: 35px;
  margin-top: 25px;
  cursor: pointer;
}
